<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Players</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <table>
                <% for(var i=0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].username %></td>
                    <td><%= data[i].password %></td>
                    <td><button id="editUser">Edit</button></td>
                </tr>
                <% } %>
            </table>
        </div>
        <h2><%= title %></h2>
        <form action="/players" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
    <script>
        const editBtn = document.getElementById('editUser');
    </script>
</body>
</html>